<header class="page1">
<div class="container_12">
	<div class="grid_12">
		<h1><a href="#" onClick="goToByScroll('page1'); return false;"><img src="http://phpers.pl/bundles/phpersapp/images/logo.png" alt="PHPackaton - PHPers Hackathon for PHP Developers"></a></h1>
		<div class="menu_block">
			<nav class="">
				<ul class="sf-menu">
					<li class="current men"><a onClick="goToByScroll('page1'); return false;" href="#">Start</a> <strong class="hover"></strong></li>
                    <li class="men5"><a onClick="goToByScroll('page5'); return false;" href="#">Zasady</a><strong class="hover"></strong></li>
                    <li class="men8"><a onClick="goToByScroll('page8'); return false;" href="#">Zespoły</a><strong class="hover"></strong></li>
					<li class="men9"><a onClick="goToByScroll('page9'); return false;" href="#">Terminy</a><strong class="hover"></strong></li>
					<li class=" men10"><a onClick="goToByScroll('page10'); return false;" href="#">Zgłoszenia</a> <strong class="hover"></strong></li>
					<li class=" men11"><a onClick="goToByScroll('page11'); return false;" href="#">Ocenianie</a> <strong class="hover"></strong></li>
					<li class=" men3"><a onClick="goToByScroll('page3'); return false;" href="#">Kontakt</a> <strong class="hover"></strong></li>
				</ul>
			</nav>
			<div class="clear"></div>
		</div>
	</div>
	<div class="clear"></div>
</div>
</header>